{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - About
{% endblock %}

{% block body %}
<h1 class="text-red-700 text-center text-7xl mt-16">page About</h1>
<p>explication de l'appli et de ses fonctionalités</p>
{% endblock %}
